{% extends "base.html.twig" %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .Container {
            display: flex;
            align-items: center;
        }

        table.Scorecard {
            margin: 0 auto;
            width:100%;
            font-size:12px;
            border:1px solid;
            text-align: center;
            table-layout: fixed;
        }

        table.Scorecard th, tr, td {
            padding: 0;
            vertical-align: middle;
            font-weight: bold;
        }

        table.Scorecard th {
            border-bottom:1px solid;
            background-color:#D3D3D3;
            height:30px;
        }

        table.Scorecard th:not(:last-child) {
            border-right:1px solid;
        }

        table.Scorecard td {
            height:30px;
        }

        table.Scorecard tr td:not(:last-child) {
            border-right:1px solid;
        }

        table.Scorecard tr:nth-child(2) td:nth-child(even) {
            border-bottom:1px solid;
        }

        table.Scorecard tr:nth-child(2) td:last-child {
            border-bottom:1px solid;
        }

        table.Scorecard #r21 {
            border-bottom: 1px solid;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="{{ url("web.home") }}" class="d-flex align-items-center text-dark text-decoration-none">
                <img class="me-2" src="/img/bowling.png" height="30">
                <span class="fs-4">Bowling management</span>
            </a>
        </header>

        <main>
            <h1>{{ game.bowlingAlleyName }} - Lane {{ game.lane }}</h1>

            <small class="opacity-50 text-nowrap">
                {% if game.isFinished %}
                <small class="opacity-50 text-nowrap">
                    <i class="bi bi-check-lg"></i>
                    {{ game.elapsedMinutes }} min / {{ game.players }} Players
                </small>
                {% else %}
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Ongoing</span>
                </div>
                Started at {{ game.startedAtTimestamp|date('H:i') }} ({{ game.elapsedMinutes }} min) / {{ game.players }} Players
                {% endif %}
            </small>

            {% if not game.isFinished %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Next roll</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Player {{ game.nextPlayer }}</h6>
                        <div class="d-grid gap-2 d-md-block">
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 0 }) }}" class="btn btn-primary" type="button">0</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 1 }) }}" class="btn btn-primary" type="button">1</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 2 }) }}" class="btn btn-primary" type="button">2</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 3 }) }}" class="btn btn-primary" type="button">3</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 4 }) }}" class="btn btn-primary" type="button">4</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 5 }) }}" class="btn btn-primary" type="button">5</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 6 }) }}" class="btn btn-primary" type="button">6</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 7 }) }}" class="btn btn-primary" type="button">7</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 8 }) }}" class="btn btn-primary" type="button">8</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 9 }) }}" class="btn btn-primary" type="button">9</a>
                            <a href="{{ url('web.game-roll', { 'id' : game.id, 'knockedPins' : 10 }) }}" class="btn btn-primary" type="button">10</a>
                        </div>
                    </div>
                </div>
            {% endif %}

            <h2 class="mb-3 mt-4">Scoreboard</h2>

            <ul class="list-unstyled">
                {% for i in 1..game.players %}
                    <li class="mb-3">
                        {% set state = game.playerGameStates[i] %}
                        {% set frames = game.playerGameStates[i].frames %}
{#                        <pre>{{ dump(state) }}#}

                        <h3>Player {{ i }}</h3>
                        <table id='table' class='Scorecard' cellPadding='1' cellSpacing='0'>
                        <tbody>
                        <tr>
                            <th id='c1' colSpan='6'>Frame 1</th>
                            <th id='c2' colSpan='6'>Frame 2</th>
                            <th id='c3' colSpan='6'>Frame 3</th>
                            <th id='c4' colSpan='6'>Frame 4</th>
                            <th id='c5' colSpan='6'>Frame 5</th>
                            <th id='c6' colSpan='6'>Frame 6</th>
                            <th id='c7' colSpan='6'>Frame 7</th>
                            <th id='c8' colSpan='6'>Frame 8</th>
                            <th id='c9' colSpan='6'>Frame 9</th>
                            <th id='c10' colSpan='6'>Frame 10</th>
                        </tr>
                        <tr>
                            {% for frameNumber in 1..9 %}
                                <td id='r{{ frameNumber }}' colSpan='3'>{{ frames[frameNumber].firstRoll }}</td><td id='{{ frameNumber * 2 }}' colSpan='3'>{{ frames[frameNumber].secondRoll }}</td>
                            {% endfor %}
                            <td id='r19' colSpan='2'>{{ frames[10].firstRoll }}</td><td id='r20' colSpan='2'>{{ frames[10].secondRoll }}</td><td id='r21' colSpan='2'>{{ frames[10].thirdRoll }}</td>
                        </tr>
                        <tr>
                            {% for frameNumber in 1..10 %}
                                <td id='cumulative-score-f{{ i }}' colSpan='6'>{{ frames[frameNumber].score }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    </li>
                {% endfor %}
            </ul>
        </main>
        {% include 'component/footer.html.twig' %}
    </div>
{% endblock %}
